:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary:#667eea;
    --color-secundary:#764ba2;
    --boton-padding: 20px 40px;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}
.container-form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 100px 100px;
}
.container-form:after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../IMG/derecho.png) no-repeat center;
    background-size: cover; 
    z-index: -1;
    filter: blur(50px);
}
.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.8)
}
.left{
    height: 100%;
    background: url(../IMG/derecho.png) no-repeat center;
    background-size: cover;
}
.right{
    padding: 25px 40px;
}
.form{
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border:2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230,0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30, 85, 250, 0.47);
}
.area{
    min-height: 150px;

}
.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border:none;
    transition: .3s;
}
.btn:hover{
    background-color: #27ae60;
}
.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}
.hero{
    height: 100vh;
    background-image: var(--background), url(../IMG/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
.hero .container{
    padding: 0;
}
.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}
.nav--footer{
    font-weight: 300;
    display: block;
}
.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}
.nav__items--cta{
    border: 1px solid #fff;
}
.nav__items--cta:hover{
    border: 1px solid #fff;
    background: var(--color-primary);
}
.nav__items--footer{
    padding: 10px;
}
.hero__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}
.hero__txt{
    width: 80%;
    margin-bottom: 50px;
}
.hero__title{
   font-size: 3.2rem;
    position: relative;
        position: relative;
    width: max-content;
}
.hero__title::before,
.hero__title::after{
        content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
.hero__title::before{
    background-image:var(--background), url(../IMG/1.jpg);
    background-repeat: no-repeat;
    animation: typewriter 4s steps(21) 1s forwards;
}
.hero__title::after{
    width: .125em;
    background: white;
    animation: typewriter 4s steps(21) 1s forwards,
    blink 750ms steps(24) infinite;
}
.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin:15px 0
        color:hsl(0 0% 0% / 0.7);
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 5s forwards;
}
.hero__cta{
    display: inline-block;
    background:#fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
    position: relative;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    z-index: 9;
    transform: translateY(100px);
    animation:  fadeInUp 2s ease 6s forwards;
    opacity: 0;
    border-radius: 50px;
    scroll-behavior: smooth;
}
.hero__cta:hover{
    background: var(--color-primary);
    color: #fff;
}
.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/* about */

.presentation{
    padding-top: 0;
    text-align: center;
}
.presentation__picture{
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}
.presentation__copy{
    width: 80%;
    margin: 0 auto;
}
.presentation__cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    font-size: 2rem;
}
.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    row-gap: 80px;
    justify-content: center;
    align-items: center;

}
.about__img{
    text-align: center;
}
.about__img--left{
    text-align: left;
}
.about__picture{
    width: 500px;
    height: 500px;
    max-width: 50%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.about__paragraph{
    margin-bottom: 200px;
    line-height: 1.5;
    font-weight: 300;
}

.people{
    background: #f2f2f2;
}
.people__grid{
    display: grid;
    height: 550px;
    grid-template-areas:
     "dori dori Eleanor gandi "
     "dori dori jr mandela";
     gap: 10px;
}
.people__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.people__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.people__item:nth-of-type(1){
    grid-area: dori;
}
.people__item:nth-of-type(2){
    grid-area: gandi;
}
.people__item:nth-of-type(3){
    grid-area: Eleanor;
}
.people__item:nth-of-type(4){
    grid-area: jr;
}
.people__item:nth-of-type(5){
    grid-area: mandela;
}
.people__hover{
    position: absolute;
    background: #0000008c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.people__icon{
    margin-top: 10px;
    font-size: 30px;
}
.people__item:hover .people__hover{
    transform: translateX(0%);
}
.people__link{
    display: inline-block;
    height: 100px;
    width: 150px;
    background: #66ea83;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(70%);
}
.people__link:hover{
    background: #66ea83a2;
}
.footer{
    background: var(--color-primary);
}
.footer__grid{
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 20px;
    align-items: center;
}
.footer__txt{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: center;
    text-align: center;
}
.footer__picture{
    max-width: 80%
}
ion-icon{
    font-size: 2rem;
    margin: 10px;
    line-height: 60px;
    display: inline-block;
}



/*responsive*/

@media screen and (max-width: 800px) {
    :root{
        --boton-padding: 18px 40px;
    }
    .nav{
        justify-content: space-around;
    }
    .nav__items--cta{
        border:none;
    }
    .nav__items{
        font-weight: 400;
        
        margin-right: 0;
    }
  
    .nav__items--footer{
        border: none;
    }
    .hero__txt{
        width: 100%;
        margin-bottom: 80px;
    }
    .hero__title{
        font-size: 2.5rem;
    }
    .hero__subtitle{
        font-size: 1.5rem;
    }

    .presentation__copy{
        width: 100%;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about .container{
        padding-top: 30px;
    }
    .about__img--left{
        text-align: center;
    }
    .about__txt:last-child{
            grid-row: 3/4;
    }

    .people__grid{
        grid-template-areas: 
        "dori dori Eleanor Eleanor"
        "dori dori gandi gandi"
        "jr jr mandela mandela";
    }
    .people__link{
        display: inline-block;
        height: 50px;
        width: 75px;
        background: #66ea83;
        color: #fff;
        text-decoration: none;
        border-radius: 40px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(70%);
    }
    .footer__grid{
        grid-template-columns: 1fr;
    }
    
}

@media screen and (max-width: 500px){
    :root{
        --boton-padding:18px 35px;
    }
    .subtitle{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .nav{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }
    .nav__items{
        padding: 0 10px;
    }
    .hero__txt{
        text-align: center;
        margin-bottom: 100px;
    }
    .hero__title{
        font-size: 2rem;
    }
    .presentation__picture{
        width: 120px;
        height: 120px;
    }
    .about{
        row-gap: 60px;
    }
    .about .container{
        padding-top: 60px;
    }
    .people__grid{
        grid-template-areas:
        "dori"
        "Eleanor"
        "gandi"
        "jr"
        "mandela";
        height: auto;
        grid-template-rows:  repeat(5, 250px);
    }
    .footer__txt{
        overflow: hidden;
    }
}



@keyframes typewriter{
    to{left: 100%}
}
@keyframes blink{
    to{
        background: transparent;
    }
}
@keyframes fadeInUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
